# Database Configuration
DATABASE_URL=postgresql+asyncpg://postgres:postgrespassword@localhost:5432/secret_santa

# SMTP Server Configuration (Local Development defaults to Mailpit)
SMTP_HOST=localhost
SMTP_HOST_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_USE_TLS=false
SMTP_FROM_EMAIL=noreply@secretsanta.local
SMTP_FROM_NAME="Secret Santa Generator"

# Application Settings
APP_ENV=development
